%% -*- erlang -*-
[{erleans, [{providers, #{in_memory => #{module => erleans_provider_ets,
                                         args => #{}}}},
            {default_provider, in_memory}
           ]},

 {plum_db, [
    {data_dir, "data"},
    {prefixes, [
        {erleans_pm, #{shard_by => prefix, type => ram}}
    ]},
    {rocksdb, [
            %% Prefix Extractor
            %% {prefix_extractor, {capped_prefix_extractor, 12}},
            %% SST Options
            {num_levels, 7},
            %% Compression Options
            {compression, lz4},
            {compression_opts, [{enabled, true}]},
            {bottommost_compression, zstd},
            {bottommost_compression_opts, [{enabled, true}]},
            %% Compaction Options
            {disable_auto_compactions, false},
            {compaction_style, level},
            {max_background_jobs, 6},
            {max_background_compactions, 4},
            {max_background_flushes, 1},
            {max_subcompactions, 2},
            {level0_file_num_compaction_trigger, 4},
            %% trunc(timer:hours(2) / 1000)
            {periodic_compaction_seconds, 7200},
            %% memory:mebibytes(64) per partition
            %% the shared write_buffer_size will be equal to
            %% write_buffer_size * partitions
            {write_buffer_size,67108864},
            %% Buffer Options
            {max_write_buffer_number, 2},
            {min_write_buffer_number_to_merge, 1},
            %% Cache Options
            {block_based_table_options, [
                {no_block_cache, false},
                %% memory:gibibytes(1)
                %% This will be globally shared
                {block_cache_size, 1073741824},
                {bloom_filter_policy, 10},
                {cache_index_and_filter_blocks, false}
            ]},
            {optimize_filters_for_hits, false},
            %% BlobDB Options
            %% {enable_blob_files, true},
            %% {min_blob_size, memory:bytes(256)},
            %% {blob_file_size, memory:bytes(256)},
            %% {blob_compression_type, none},
            %% Direct I/O Options
            {use_direct_reads, true},
            {use_direct_io_for_flush_and_compaction, true}
        ]}
 ]},

 {partisan, [
   {peer_port, 10000},
   {pid_encoding, false},
   {ref_encoding, false},
   {remote_ref_as_uri, true},
   {peer_service_manager,
              partisan_pluggable_peer_service_manager}
  ]},

 {kernel, [{logger_level, info},
           {logger, [{filters, log, [{no_progress, {fun logger_filters:progress/2, stop}}]},
                     {handler, default, logger_std_h,
                      #{formatter => {logger_formatter, #{template => [time," ", file,":",line," ",level,": ",msg,"\n"]}}}}]}]}
].

